@{
    ViewData["Title"] = "Historial de Seriales";
}

<link rel="stylesheet" href="~/css/views/Seriales.css">

<div class="header-view">
    <h1 class="text-2xl font-bold dark:text-white title-view-text">@ViewBag.Title</h1>
</div>

<div class="container-grid">
    <div id="Grid"></div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/Views/Seriales/seriales.js"></script>