.container-form{
    justify-content: center;
    display: flex;
    margin-top: 8%;
}

.class-body-eys{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    overflow-x:hidden; 
    overflow-y:hidden
}

.class-body-manatee{
    background-color: #F76B1C;
    background-image: linear-gradient(90deg, #F76B1C 0%, #ff9e17 100%);

    overflow-x:hidden; 
    overflow-y:hidden
}

.form-login{
    width: 22em;
    padding: 5%;
    border-radius: 17px;
    background-color: white;
}

.title-login{
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 10%;
    margin-bottom: .8em;
    margin-top: .8em;
}

.logo-login{
    width: 8em;
}

.container-logo{
    justify-content: center;
    display: flex;
}

.footer-eys, .navbar-eys{
    display: none;
}

.footer-manatee, .navbar-manatee{
    display: none;
}

#drawer-example{
    display: none;
}

.text-danger{
    color: red;
    font-weight: bold;
}

.container-validations{
    display: flex;
    margin-bottom: 1.5em;
}