/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.font-style-app{
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-weight: 400;
}

body{
  background-color: white;
}

.footer-eys, .navbar-eys{
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}

.footer-manatee, .navbar-manatee{
  background-color: #F76B1C;
  background-image: linear-gradient(90deg, #F76B1C 0%, #ff9e17 100%);



}

.title-view-text{
  width: 50%;
}

.header-view{
  display: flex;
  margin-top: 1em;
  margin-bottom: 2em;
}

.input-search{
  width: 100%;
  margin-top: 1em;
}

.inputs-container{
  margin-top: .8em;
  margin-right: 1em;
}

.title-view{
  margin-bottom: 0%;
}

.container-main{
  margin: 0% 10%;
  display: block;
}

.text-white{
  color: white;
}
.e-table{
  width: 100% !important;
}

.inactive{
  text-align: center;
    background: #FF4545;
    border-radius: 5px;
    color: white !important;
}

.active{
  text-align: center;
    background: #00A92D;
    border-radius: 5px;
    color: white !important;
}

.wrapperFI{
  width: 18em;
}

.flex-div{
  display: flex;
}

.line-height{
  line-height: 28px;
}

.container-loader{
  position: fixed;
  width: 100vw;
  height: 70vh;
  z-index: 9999;
  transition: all 1.5s;
  align-items: center;
  justify-content: center;
  display: none;
}

.loader,
.loader:before,
.loader:after{
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation: Loader 1.5s infinite ease-in-out;
}
.loader{
  font-size: 13px;
  position: relative;
  animation-delay: -0.16 !important;
}

.loader-color-eys{
  color: #4685fa;
}

.loader-color-manatee{
  color: #FF9E17;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
 .loader:before {
   Left: -3.5em;
   animation-delay: -0.32s;
 }
 .loader:after{
   left: 3.5em;
 }

 @keyframes Loader{
   0%,
   80%,
   100% {
    box-shadow: 0 2.5em 0 -1.3em;
   }
   40% {
    box-shadow: 0 2.5em 0 0;
   }
  }

  .text-danger{
    color: red;
    font-weight: bold;
}

.container-validations{
  display: flex;
  margin-bottom: 1.5em;
}

body{
  margin: 0;
  position: relative;
  padding-bottom: 5em;
  min-height: 100vh;
}

.widt-nav{
  max-width: 82% !important;
}