@*@model MQTT.Infrastructure.Models.TbMessages

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>TbMessages</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdHeaderMessage" class="control-label"></label>
                <select asp-for="IdHeaderMessage" class="form-control" asp-items="ViewBag.IdHeaderMessage"></select>
                <span asp-validation-for="IdHeaderMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VersionTrama" class="control-label"></label>
                <input asp-for="VersionTrama" class="form-control" />
                <span asp-validation-for="VersionTrama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdRegistro" class="control-label"></label>
                <input asp-for="IdRegistro" class="form-control" />
                <span asp-validation-for="IdRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdOperador" class="control-label"></label>
                <input asp-for="IdOperador" class="form-control" />
                <span asp-validation-for="IdOperador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEstacion" class="control-label"></label>
                <input asp-for="IdEstacion" class="form-control" />
                <span asp-validation-for="IdEstacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdVagon" class="control-label"></label>
                <input asp-for="IdVagon" class="form-control" />
                <span asp-validation-for="IdVagon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPuerta" class="control-label"></label>
                <input asp-for="IdPuerta" class="form-control" />
                <span asp-validation-for="IdPuerta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoPuerta" class="control-label"></label>
                <input asp-for="CodigoPuerta" class="form-control" />
                <span asp-validation-for="CodigoPuerta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaHoraLecturaDato" class="control-label"></label>
                <input asp-for="FechaHoraLecturaDato" class="form-control" />
                <span asp-validation-for="FechaHoraLecturaDato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaHoraEnvioDato" class="control-label"></label>
                <input asp-for="FechaHoraEnvioDato" class="form-control" />
                <span asp-validation-for="FechaHoraEnvioDato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoTrama" class="control-label"></label>
                <input asp-for="TipoTrama" class="form-control" />
                <span asp-validation-for="TipoTrama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TramaRetransmitida" class="control-label"></label>
                <input asp-for="TramaRetransmitida" class="form-control" />
                <span asp-validation-for="TramaRetransmitida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoEvento" class="control-label"></label>
                <input asp-for="CodigoEvento" class="form-control" />
                <span asp-validation-for="CodigoEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoAperturaCierrePuertas" class="control-label"></label>
                <input asp-for="EstadoAperturaCierrePuertas" class="form-control" />
                <span asp-validation-for="EstadoAperturaCierrePuertas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsoBotonManual" class="control-label"></label>
                <input asp-for="UsoBotonManual" class="form-control" />
                <span asp-validation-for="UsoBotonManual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoBotonManual" class="control-label"></label>
                <input asp-for="EstadoBotonManual" class="form-control" />
                <span asp-validation-for="EstadoBotonManual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@model MQTT.Web.Models.MessageTypeViewModel

@{
    ViewData["Title"] = "Actualizacion tipo de mensaje";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="p-4 mb-4 text-sm text-yellow-700 bg-yellow-100 rounded-lg dark:bg-yellow-200 dark:text-yellow-800" role="alert">
  <span class="font-medium">Página en Construcción.</span> 
</div>

<div class="header-view">
    <h1 class="text-2xl font-bold dark:text-white">@ViewData["Title"]</h1>
</div>

<div>
    <form asp-action="Edit" method="post">
        <div class="container-validations">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
        <div class="grid md:grid-cols-2 md:gap-6">
            <div class="relative z-0 mb-6 w-full group">
                <label asp-for="Code"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                <input type="text" asp-for="Code"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                    required>
            </div>
            <div class="relative z-0 mb-6 w-full group">
                <label asp-for="Name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                <input type="text" asp-for="Name"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                    required>
            </div>
        </div>
        <div class="grid md:grid-cols-2 md:gap-6">
            <div class="relative z-0 mb-6 w-full group">
                <label asp-for="Description"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                <input type="text" asp-for="Description"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                    required>
            </div>
            <div class="relative z-0 mb-6 w-full group">
                <label asp-for="TableName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                <input type="text" asp-for="TableName"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                    required>
            </div>
        </div>
        <div class="grid md:grid-cols-2 md:gap-6">
            <div class="relative z-0 mb-6 w-full group">
                <label asp-for="FieldCode" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                <input type="text" asp-for="FieldCode"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                    required>
            </div>
            <div class="relative z-0 mb-6 w-full group">
                <label asp-for="FieldWeft" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                <input type="text" asp-for="FieldWeft"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                    required>
            </div>
        </div>
        <div class="grid md:grid-cols-2 md:gap-6">
            <div class="relative z-0 mb-6 w-full group">
                <label asp-for="FieldIdentifierMessage"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                <input type="text" asp-for="FieldIdentifierMessage"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                    required>
            </div>
        </div>
        <button id="button-primary" type="submit" 
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Crear
            tipo de mensaje</button>
        <a type="submit" asp-action="Index"
            class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Salir
            a la lista</a>

    </form>
</div>

<!--
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Code" class="control-label">Código</label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nombre</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Descripción</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TableName" class="control-label">Nombre tabla</label>
                <input asp-for="TableName" class="form-control" />
                <span asp-validation-for="TableName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FieldCode" class="control-label">Código campo en la trama</label>
                <input asp-for="FieldCode" class="form-control" />
                <span asp-validation-for="FieldCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FieldWeft" class="control-label">Nombre campo de la trama</label>
                <input asp-for="FieldWeft" class="form-control" />
                <span asp-validation-for="FieldWeft" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FieldIdentifierMessage" class="control-label">Nombre campo identificador del mensaje</label>
                <input asp-for="FieldIdentifierMessage" class="form-control" />
                <span asp-validation-for="FieldIdentifierMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                @*<div class="col-md-2"><button id="btnSave" type="button" class="btn btn-primary" style=" width: 100%;" onclick="SaveMessageTypeOnClick"><i class="far fa-save"></i> Aceptar</button></div>*@

            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
-->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
