@{
    ViewData["Title"] = "Tipos de Eventos/Alarmas";
}
<link rel="stylesheet" href="~/css/views/MessageType.css">
<div class="p-4 mb-4 text-sm text-yellow-700 bg-yellow-100 rounded-lg dark:bg-yellow-200 dark:text-yellow-800" role="alert">
  <span class="font-medium">Página en Construcción.</span> 
</div>

<div class="header-view">
    <h1 class="text-2xl font-bold dark:text-white title-view-text">@ViewBag.Title</h1>
    <a  id="button-create" type="submit" asp-area="" asp-controller="MessageTypes" asp-action="Creation" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 create-button">
    Crear
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
</a>
</div>

<div class="container-grid">
    <div id="dgMessageType"></div>
</div>



<script type="text/javascript">
    var lstMessageTypes =  @(Html.Raw(ViewBag.lstMessageTypes));
</script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/Views/MessageTypes/MessageTypes.js"></script>