
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="row" id="lstFields" style="display: none">
    <div class="col-md-6" style="padding-right: 0%;">
        <h4>Sin Asignar</h4>
        <input id="lstUnSelected" />
    </div>
    <div class="col-md-6">
        <h4>Asignados</h4>
        <input id="lstSelected" />
    </div>
</div>