@{
    ViewData["Title"] = "Hoja de vida";
}
@using DashboarJira.Model
@model List<Ticket>

<link rel="stylesheet" href="~/css/views/Resumes.css">

<div class="header-view">
    <h1 class="text-2xl font-bold dark:text-white title-view-text">@ViewBag.Title</h1>
</div>

<div class="form-container">    

    <div class="inputs-container">
        <label class="TextComponente">ID Componente</label>
        <div class="wrapperFI">
            <span class="e-input-group e-control-wrapper e-ddl e-lib e-keyboard" tabindex="-1" aria-owns="searchParam_options" role="listbox" aria-haspopup="true" aria-expanded="false" aria-activedescendant="null" aria-live="polite" aria-labelledby="searchParam_hidden" style="width: 100%;">
                <input type="text" id="componente" class="e-input" role="textbox" placeholder="Ingrese id componente" aria-placeholder="Seleccione un campo" style="" tabindex="-1">
            </span>
        </div>

    </div>

    <div class="inputs-container">
        <button onclick="validateDates()" type="button" id="button-primary"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            Buscar
        </button>
    </div>
</div>
<div>
    <p>&nbsp;</p>
</div>

@*<div style="margin-bottom: 40px; display: none;" id="resultBoxContainer">
    <div id="resultBox"></div>
    <button onclick="openImage()" type="button" id="button-primary"class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Ver especificaciones</button>
</div>*@
<div class="form-container" style="margin-bottom: 40px; display: none;" id="resultBoxContainer">
    <div id="resultBox"></div>
    <button onclick="openImage()" type="button" id="button-primary" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Ver especificaciones</button>
</div>
<div>
    <div id="Grid"></div>
</div>


<script type="text/javascript">
    var columnsSearch = @(Html.Raw(ViewBag.columnsSearch));
    var columnsToHide = @(Html.Raw(ViewBag.columnsToHide));
</script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/Views/Resumes/resumes.js"></script>