.station {
    border: 2px solid black;
    padding: 10px;
}

    .station table {
        border: 2px solid black;
        border-collapse: collapse;
        width: 100%;
    }

    .station th, .station td {
        border: 1px solid black;
        padding: 5px;
        text-align: center;
    }

.bg-orange {
    background-color: orange;
}

.bg-green {
    background-color: green;
}

.bg-lightblue {
    background-color: lightblue;
}

.bg-transparent {
    background-color: transparent;
}
