.station {
    border: 1px solid #555;
    padding: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
}

    .station table {
        border: 1px solid #555;
        border-collapse: collapse;
        width: 100%;
    }

    .station th, .station td {
        border: 1px solid #555;
        padding: 2px;
        text-align: center;
        font-size: 10px;
        font-weight: bold;
    }

    .station h2 {
        margin: 0;
        font-size: 12px;
        font-weight: bold;
    }

.bg-orange {
    background-color: orange;
}

.bg-green {
    background-color: green;
}

.bg-lightblue {
    background-color: lightblue;
}

.bg-gray {
    background-color: gray;
}

.bg-transparent {
    background-color: transparent;
}
