#resultBox {
    
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    overflow-x: auto;
    color: #808080;
}

#resultBox table {
    width: 100%;
    border-collapse: collapse;
}

#resultBox th, #resultBox td {
    border: 1px solid #ddd;
    padding: 8px;

}

/* Estilo personalizado para el modal */
.custom-modal-class {
    max-width: 90%;
    width: auto;
}

/* Estilo personalizado para la imagen dentro del modal */
.custom-image-class {
    max-width: 90%;
    height: auto;
}

.result-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.custom-close-button-class::before {
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#resultBox th,
#resultBox td {
    border: 1px solid #ddd;
    padding: 8px;
    color: #808080; /* Cambia el color del texto a gris (#808080) o al color que desees */
}

/* Opcional: Cambia el color del texto de los encabezados (th) */
#resultBox th {
    background-color: #f2f2f2; /* Color de fondo para los encabezados */
    color: #808080; /* Cambia el color del texto a gris (#808080) o al color que desees */
}
