#resultBoxContainer {
    margin-bottom: 10px;
    display: none;
}
#resultBox {    
    padding: 0px;
    margin-top: 10px;
    width: 100%;
    overflow-x: auto;
}

#resultBox table {
    width: 100%;
    border-collapse: collapse;
}

    #resultBox th, #resultBox td {
        border: 1px solid #ddd;
        padding: 8px;
        font-size: 12px;
        font-weight: normal;
        color: black;
    }

/* Estilo personalizado para el modal */
.custom-modal-class {
    max-width: 90%;
    width: auto;
}

/* Estilo personalizado para la imagen dentro del modal */
.custom-image-class {
    max-width: 90%;
    height: auto;
}

.result-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.custom-close-button-class::before {
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#resultBox th,
#resultBox td {
    border: 1px solid #ddd;
    padding: 8px;
    color: black;
}

/* Opcional: Cambia el color del texto de los encabezados (th) */
#resultBox th {
    background-color: #f9f9f9;
    color: black;
    text-align: left;
}

#button-primary {
    /* Ajusta el estilo del botón según tus necesidades */
    margin-right: 10px; /* Espacio a la derecha del botón */
}