.container-grid{
    justify-content: center;
}

.form-container{
    width: 100%;
    color: #222930;
    font-weight: bold;
    padding: 2% 10%;
}



.flex-add{
    display: flex;
}

.container-inputs{
 display: flex;
}



.organitation-menu{
    position: absolute;
    right: 10%;
}
